---
import { Image } from 'astro:assets';
import footerImg from '../../assets/roots.svg';

const alt = '';
---

<div class="story-footer content">
  <div class="roots center">
    <Image src={footerImg} alt={alt} height="204" />
  </div>
</div>

<style>
  .roots {
    border-block-start: solid var(--gray-7);
  }
  .roots img {
    height: auto;
  }
</style>
