:root {
  --dark: #171717;
  --light: #f2f2f2;
  --gray: #363636;
  --gray-light: #a3a3a3;
  --gray-transparent: hsla(0, 0%, 64%, 0.2);
  --teal: #119da4;
  --teal-light: #15c2cb;
  --orange: #bf4e30;
  --orange-light: #de927c;
  --accent: var(--orange-light);
  --accent-alt: var(--teal-light);
}
