@import './colors.css';

/* Dark mode colors. */
:root {
  --sl-color-accent-low: var(--gray-8);
  --sl-color-accent: var(--teal-7);
  --sl-color-accent-high: var(--teal-1);
  --sl-color-white: var(--gray-0);
  --sl-color-gray-1: var(--gray-1);
  --sl-color-gray-2: var(--gray-3);
  --sl-color-gray-3: var(--gray-4);
  --sl-color-gray-4: var(--gray-5);
  --sl-color-gray-5: var(--gray-6);
  --sl-color-gray-6: var(--gray-8);
  --sl-color-black: var(--gray-9);
}
/* Light mode colors. */
:root[data-theme='light'] {
  --sl-color-accent-low: var(--teal-1);
  --sl-color-accent: var(--teal-7);
  --sl-color-accent-high: var(--gray-8);
  --sl-color-white: var(--gray-9);
  --sl-color-gray-1: var(--gray-8);
  --sl-color-gray-2: var(--gray-6);
  --sl-color-gray-3: var(--gray-5);
  --sl-color-gray-4: var(--gray-4);
  --sl-color-gray-5: var(--gray-3);
  --sl-color-gray-6: var(--gray-2);
  --sl-color-gray-7: var(--gray-1);
  --sl-color-black: var(--gray-0);
}
