/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

:root {
  --dark: hsl(0, 0%, 13%);
  --light: hsl(180, 25%, 95%);
  --dark-green: hsl(180, 25%, 25%);
  --teal: hsl(183, 81%, 35%);
  --orange: hsl(13, 60%, 47%);
}

body {
  font-family: monospace;
  background: var(--light);
}

html {
  font-size: 100%;
}

.container {
  width: min(80%, 1100px);
  margin-inline: auto;
}

.container-sm {
  width: min(80%, 800px);
  margin-inline: auto;
}
