---
import Social from '../../components/Social.astro';
import { Icon } from 'astro-icon/components';

interface Candidate {
  name: string;
  location: string;
  about: string;
}

interface CandidateData {
  candidate: Candidate;
}

import data from '../../data/resume.json';
const { candidate }: CandidateData = data;
---

<section class="candidate shadow">
  <h1 class="name">{candidate.name}</h1>
  <Social />
  <p class="about">{candidate.about}</p>
  <p class="location">
    <Icon name="map-pin" />
    {candidate.location}
  </p>
</section>

<style>
  .candidate {
    text-align: center;
    border-inline-start: solid var(--accent);
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    margin-block: 2em;
    padding: 2em;
    background: var(--black);
  }
  .about::before {
    content: '[ ';
    color: var(--accent);
  }
  .about::after {
    content: ' ]';
    color: var(--accent);
  }
  .location {
    font-size: smaller;
    padding: 0;
    text-align: end;
  }
  [data-icon='map-pin'] {
    display: inline;
    width: 1rem;
    height: 1rem;
  }
</style>
