---
interface Cert {
  cert_name: string;
  emphasis: string;
  institution: string;
}

interface CertificationData {
  certification: Cert[];
}

import data from '../../data/resume.json';
const { certification }: CertificationData = data;
---

<section class="certification" id="certification">
  <h2>Certification</h2>
  <div class="certification-list">
    {
      certification.map((cert) => (
        <div class="certification-entry">
          <h3>{cert.cert_name}</h3>
          <div class="certification-details">
            <p>{cert.emphasis}</p>
            <p>{cert.institution}</p>
          </div>
        </div>
      ))
    }
  </div>
</section>

<style>
  .certification-entry {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0 1em;
    padding: 0.5em;
  }
  .certification-details {
    display: flex;
    flex-wrap: wrap;
    gap: 0 1em;
    padding-inline: 0.5em;

    p {
      padding: 0;
    }
  }
</style>
