---
import { Icon } from 'astro-icon/components';
---

<fieldset class="persona-selector">
  <legend>active resume personas: </legend>
  <div class="persona-list">
    <div class="persona persona-math">
      <div class="input-wrapper">
        <input
          id="math"
          type="checkbox"
          name="persona"
          value="math"
          aria-checked="true"
          checked
        />
        <label for="math" class="label">mathematics educator </label>
      </div>
      <Icon name="math-operations" class="icon icon-math" />
    </div>
    <div class="persona persona-assessment">
      <div class="input-wrapper">
        <input
          id="assessment"
          type="checkbox"
          name="persona"
          value="assessment"
          aria-checked="true"
          checked
        />
        <label for="assessment" class="label">assessment specialist </label>
      </div>
      <Icon name="exam" class="icon icon-assessment" />
    </div>
    <div class="persona persona-web">
      <div class="input-wrapper">
        <input
          id="web"
          type="checkbox"
          name="persona"
          value="web"
          aria-checked="true"
          checked
        />
        <label for="web" class="label">web developer </label>
      </div>
      <Icon name="code" class="icon icon-web" />
    </div>
  </div>
</fieldset>

<style>
  .persona-selector {
    border-radius: 0 1rem 1rem;
    margin-block: 1em;
    accent-color: var(--accent-alt);
    /* width: fit-content; */
    margin-inline: auto;
  }
  .persona-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
  }
  .input-wrapper {
    color: var(--gray);
  }
  .input-wrapper > * {
    cursor: pointer;
  }
  .label {
    padding: 0.25em;
  }
  .icon {
    color: var(--accent-alt);
    margin-inline: auto;
  }
  input[type='checkbox']:checked + .label {
    color: var(--accent);
  }
</style>
