---

---

<div class="page-nav">
  <ul class="nav-items">
    <li class="nav-item"><a href="#candidate">candidate</a></li>
    <li class="nav-item"><a href="#experience">experience</a></li>
    <li class="nav-item"><a href="#education">education</a></li>
    <li class="nav-item"><a href="#certification">certification</a></li>
  </ul>
</div>

<style>
  .page-nav {
    position: -webkit-sticky;
    position: sticky;
    inset-block-start: 0.5em;
    padding: 1em;
    z-index: 1;
    background-color: var(--black);
    opacity: 0.8;
  }
  .nav-items {
    display: flex;
    /* flex-wrap: wrap; */
    gap: 1em;
    justify-content: center;
    list-style: none;
    padding: 0;
  }
  .nav-item a {
    text-decoration: none;
  }
  .nav-item a:hover {
    text-decoration: revert;
  }
</style>
