---

---

<div class="page-nav shadow">
  <ul class="nav-items">
    <!-- <li class="nav-item"><a href="#candidate">I. candidate</a></li> -->
    <li class="nav-item"><a href="#experience">I. experience</a></li>
    <li class="nav-item"><a href="#education">II. education</a></li>
    <li class="nav-item"><a href="#certification">III. certification</a></li>
  </ul>
</div>

<style>
  .page-nav {
    position: -webkit-sticky;
    position: sticky;
    inset-block-start: 0.5em;
    padding: 1em 0;
    z-index: 1;
    background-color: var(--black);
    opacity: 0.9;
    border-radius: 0.5em;
    width: fit-content;
    margin-inline: auto 0;
  }
  .nav-items {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    justify-content: center;
    list-style: none;
    padding-inline: 1em;
  }
  .nav-item a {
    padding: 0.5em 0.25em;
    text-decoration: none;
    border-radius: 0.5rem;
  }
  .nav-item a:hover {
    background-color: var(--dark);
  }
</style>
