<div class="page-nav">
  <a href="#candidate">resume</a>
  <ul class="nav-items">
    <li class="nav-item"><a href="#experience">experience</a></li>
    <li class="nav-item"><a href="#education">education</a></li>
    <li class="nav-item"><a href="#certification">certification</a></li>
  </ul>
</div>

<style>
  .page-nav {
    position: sticky;
    inset-block-start: 1rem;
    padding: 1em;
  }
</style>
