---
import { Icon } from 'astro-icon/components';

const iconLinks: { label: string; href: string; icon: string }[] = [
	{ 
		label: 'Email', 
		href: 'mailto:brett@crossinguard.dev', 
		icon: 'envelope' 
	},
	{ 
		label: 'GitHub', 
		href: 'https://github.com/crossinguard', 
		icon: 'github-logo' 
	},
	{ 
		label: 'LinkedIn', 
		href: 'https://www.linkedin.com/in/w-brett-egbert/', 
		icon: 'linkedin-logo' 
	},
];
---
<div class="social-links">
	{
		iconLinks.map(({ href, icon, label }) => (
			<a href={href} class="social" target="_blank">
				<span class="sr-only">
					Go to {label} for Friends of the Sumas Library
				</span>
				<Icon name={icon} />
			</a>
		))
	}
</div>

<style>
	.social-links {
		display: flex;
		justify-content: center;
		height: 2.5rem;
		gap: 1em;
		margin-block: 1em;
	}
	.social-links a {
		text-decoration: none;
		transition: all 0.2s ease-in-out;
	}
</style>