---
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/Hero.astro';

const title = "Home"
---

<BaseLayout title={title}>
	<Hero />

	<section class="content" id="about">
		<h2 class="fancy">About</h2>

		<p>I am an educator and tech-curious developer obsessed with the belief that things worth knowing shouldn't be miserable to learn. My idea of a good time is breaking content down into digestible pieces and obsessing over phrasing, formatting, and methods of presentation.</p>

		<img src="/me.png" alt="A beautiful man with a beard standing outside in front of some trees" />

		<p>As an educator, I have designed, iterated, & redesigned hundreds of math lessons with original supporting instructional materials in alignment with high level content requirements. At both the secondary and university level I have extensive experience in defining technical knowledge targets & key skills associated within a knowledge domain, and crafting assessments laser focused on measuring that competency.</p>

		<p>As a developer I have used SQL, R, and Python for both ad-hoc data investigations and established database queries, along with business intelligence dashboard creation (e.g., Tableau, PowerBI). Creating R Markdown data reports ended up being my gateway drug into frontend web development where I am currently expanding my skill set.</p>

		<p>I bask in the overlapping Venn diagram of math ed, data analytics, and frontend web development.</p>
	</section>

	<section class="content" id="contact">
		<h2 class="fancy">Contact</h2>
		<a class="mail" href="mailto:brett@crossinguard.dev"><iconify-icon icon="ph:envelope" width="32" height="32"></iconify-icon> brett@crossinguard.dev</a>
	</section>
</BaseLayout>

<style>
	.mail {
		text-decoration: none;
	}
</style>