---
import BaseLayout from "../layouts/BaseLayout.astro";
import About from "../components/About.astro";
import Projects from "../components/Projects.astro";
import Contact from "../components/Contact.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout title = 'under development'>
	
	<div class="hero">
		<Hero />
	</div>

	<div class="content">
		<About />
	
		<Projects />
	
		<Contact />
	</div>

</BaseLayout>

<style>
	.hero {
    height: 100vh;
    background: var(--dark);
  }

	.content {
		min-height: 500px;
		display: grid;
		gap: 2em;
	}
</style>