---
import BaseLayout from "../layouts/BaseLayout.astro";
import About from "../components/About.astro";
import Projects from "../components/Projects.astro";
import Contact from "../components/Contact.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout title = 'Welcome'>
	
	<div class="hero">
		<Hero />
	</div>

	<div class="content">
		<section id="about">
			<About />
		</section>

		<section id="projects">
			<Projects />
		</section>

		<section id="contact">
			<Contact />
		</section>
	</div>

</BaseLayout>

<style>
	.content {
		display: grid;
		gap: 2em;
	}

	#about,
	#contact {
		background: var(--dark);
	}
</style>