---
import BaseLayout from "../layouts/BaseLayout.astro";
import Construction from "../components/Construction.astro";
import StoriesList from "../components/StoriesList.astro";

const title = 'Stories'
---
<BaseLayout title={title}>
	<div class="content">
		<h1 class="center">{title}</h1>
		<Construction />
		<StoriesList />
	</div>
</BaseLayout>