---

---

<section id="about" class="container-sm">
  <h2>About</h2>
  <h3>
    Who is crossinguard?
  </h3>
  <p>
    My name is Brett Egbert. I am an educator and lifelong learner.
  </p>
  <p>
    I began my professional career teaching high school math right as the Common Core took hold in secondary education. As a first year teacher I hit the ground running, helping to redesign long-established curriculum to meet the new standards. With nearly a decade of classroom teaching experience, I have designed, iterated, & redesigned hundreds of math lessons in alignment with district content requirements. I have built countless original supporting instructional materials (e.g., video lessons, learning activities, lecture presentations) and both formative & summative assessments to measure student competency. I have provided direct instruction to thousands of students across my teaching journey, both in person and remotely.
  </p>
  <p>
    When I left the classroom behind, I joined an online university as an entirely remote employee. The transition from classroom teacher to non-classroom anything can be a jarring path. I dipped my toes into the non-teacher life by first helping to evaluate student teacher capstone portfolios. I then shifted into program development, tasked with designing university-level courses & assessments for IT degree programs. Designing performance tasks and summative assessments in Python, SQL, and Java ignited my interest in coding.
  </p>
  <p>
    I continued my learning journey by upskilling into data analytics and web development. I benefited greatly from high quality, free education made available by experienced data professionals and front-end developers. Unlike the digital and physical textbooks I had experienced as both a teacher and as a student, these modern learning paths were made for the web. Coders teaching others to code using modern presentation tools with accessibility in mind. It is with these skills that I now revisit mathematics education.
  </p>
</section>

<style>
  #about {
    outline: solid pink;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
    padding-block: 1em;
  }
</style>