---
import { Image } from "astro:assets";
import stopSign from "../images/halo-stop.svg";
---

<div class="about container">
  <h2>About</h2>
  <h3>
    Who is <span class="cg">crossinguard</span>?
  </h3>
  <p>
    My name is Brett Egbert. I am an educator and lifelong learner.
  </p>
  <p>
    I began my professional career teaching high school math right as the Common Core took hold in secondary education. As a first year teacher I hit the ground running, helping to redesign long-established curriculum to meet the new standards. With nearly a decade of classroom teaching experience, I have designed, iterated, & redesigned hundreds of math lessons in alignment with state & district content requirements. I have built countless original supporting instructional materials (e.g., video lessons, learning activities, lecture presentations) and both formative & summative assessments to measure student competency. I have provided direct instruction to thousands of students across my teaching journey, both in person and remotely.
  </p>
  <p>
    When I left the classroom behind, I joined an online university as an entirely remote employee. The transition from classroom teacher to non-classroom anything can be a jarring path. I dipped my toes into the non-teacher life by first helping to evaluate student teacher capstone portfolios. I then shifted into program development, tasked with designing university-level courses & assessments for IT degree programs. Designing performance tasks and summative assessments in Python, SQL, and Java ignited my interest in coding.
  </p>
  <p>
    I continued my learning journey by upskilling into data analytics and web development. I benefited greatly from high quality, free education made available by experienced data professionals and frontend developers. Unlike the digital and physical textbooks I had experienced as both a teacher and as a student, these modern learning paths were made for the web. Coders teaching others to code using modern presentation tools with accessibility in mind. It is with these skills that I now revisit mathematics education.
  </p>
  <h3>
    What is <span class="cg">crossinguard</span>?
  </h3>
  <p>
    In the early 2000s, the video game Halo was king at my school. Online gaming, particularly with consoles, was still in its infancy and local LANs were common. One year my high school math teacher hosted a Halo tournament in his house, with at least four full 16-players games going concurrently all night. Mobs waited for their turn to cycle into a game. Giant, heavy, thick TVs and connecting cables crowded the living room, kitchen, basement, and even garage. The reigning heavyweight champs owned the basement, refusing to leave their life of comfort until beaten. I started in the garage and, spoiler alert, Rocky didn’t win.
  </p>
  <p>
    Around that time, emblems could be used to customize your character for multiplayer matches in Halo. I found an emblem I liked, for some reason drawn to an octagon with a hand inside. Now I needed a name to match. My original gaming handle <span class="cg">tikigod</span> had earned its spot in my hall of fame for Halo 1, but I needed a new identify for Halo 2.
  </p>
  <div class="standout">
    <p>
      Thus <span class="cg">crossinguard</span> was born.
    </p>
    <Image 
      src={stopSign} 
      class="logo"
      alt="octagon with a hand inside; Halo 'stop' emblem" 
      height="50" 
      width="50" />
  </div>
  <p>
    The original Halo trilogy shaped me as a gamer and remains one of my true loves. That LAN party math teacher fed my love of the game and inspired my own path into mathematics education. Halo and my handle crossinguard were there while I earned my first degree in mathematics education. It played a surprisingly strong role in my first kiss with my then-Blockbuster-manager and now-wife. Talking video games as a teacher with students created connections that transcended the classroom and turned into legitimate friendships.
  </p>
</div>

<style>
  .about {
    /* outline: solid pink; */
    padding-block: 1em;
  }
  
  p {
    font-size: 1rem;
    padding-block: 1em;
    color: var(--light);
  }
  
  .cg {
    color: var(--teal);
    font-family: 'Lazer84', monospace;
  }

  .standout {
    display: flex;
    gap: 1em;
    align-items: center;
  }
</style>