---

---

<div class="contact container">
  <h2>Contact</h2>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo impedit exercitationem aliquid, cupiditate expedita iste quam eveniet accusamus ducimus. Molestias harum dignissimos reiciendis vitae fuga, facilis voluptates repudiandae quidem explicabo blanditiis tempore omnis alias labore maiores totam officiis odio enim, neque molestiae dicta sint cum, quibusdam ut earum! Error, cumque.</p>
</div>

<style>
  .contact {
    outline: solid salmon;
    padding-block: 1em;
  }
  
  p {
    font-size: 1rem;
    padding-block: 1em;
    color: var(--light);
  }
</style>