---
const today = new Date();
---

<footer class="container">
  <p>
    William Brett Egbert &copy; {today.getFullYear()}
  </p>
</footer>

<style>
  footer {
    padding: 2em;
  }

  p {
    color: var(--dark-green);
    text-align: end;
  }
</style>