---
import Social from "./Social.astro";

const today = new Date();
---

<footer>
	<div class="flex">
		<p>W. Brett Egbert &copy; {today.getFullYear()}</p>
		<Social />
		<p>stay curious</p>
	</div>
</footer>
<style>
	.flex {
		font-family: var(--font-family-mono);
		display: flex;
		flex-direction: column;
		padding-block: 4em;
		color: var(--gray-light);
		text-align: center;
	}

	p:last-child {
		font-style: italic;
		font-size: smaller;
	}
</style>
