---
import HeaderLink from './HeaderLink.astro';
// import { SITE_TITLE } from '../consts';
---

<header>
	<nav>
		<a href="/">
			<span class="sr-only">Home</span>
			<img src="/assets/cg-logo.svg" alt="crossinguard logo" height="50" width="50" class="logo">
		</a>
		<!-- <h2><a href="/">{SITE_TITLE}</a></h2> -->
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		max-width: 900px;
		margin-inline: auto;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--light);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a:hover {
		color: var(--accent-alt);
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.logo {
		transition: opacity 0.2s ease-in-out;
	}
	.logo:hover {
		opacity: 0.8;
	}
	@media screen and (max-width: 520px) {
    img {
      display: none;
    }
	}
</style>
