---
import Nav from "./Nav.astro";
import { Image } from "astro:assets";
import cgLogo from "../images/cg-dev-h.svg";
---

<header>
  <div class="container">
    <a href="/">
      <Image src={cgLogo} alt="logo" height="50" width="567"/>
    </a>
    <Nav />
  </div>
</header>

<style>
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
</style>