---
import { Image } from "astro:assets";
import cgLogo from "../images/cg-logo.svg";
---

<div class="hero container">
  <Image 
    src={cgLogo} 
    class="logo"
    alt="octagon with a hand inside; Halo 'stop' emblem" 
    height="350" 
    width="350" />
  <div class="text">
    <h1><span class="regular">William</span> Brett Egbert</h2>
    <ul>
      <li><span class="left">&lt;</span>mathematics educator<span class="right">&#47;&#62;</span></li>
      <li><span class="left">&lt;</span>data analyst<span class="right">&#47;&#62;</span></li>
      <li><span class="left">&lt;</span>assessment specialist<span class="right">&#47;&#62;</span></li>
      <li><span class="left">&lt;</span>aspiring frontend developer<span class="right">&#47;&#62;</span></li>
    </ul>
  </div>
</div>

<style>
	.hero {
    /* outline: solid lightseagreen; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding-block: 5em;
  }

  h1 {
    font-size: 3rem;
    color: var(--dark-green);
  }
  
  li {
    list-style: none;
    font-weight: 100;
    font-size: 2rem;
    color: var(--dark-green);
    transition: all 3s ease-in-out;
    padding-inline-start: 1.5rem;
  }

  .left,
  .right {
    color: transparent;
  }
  
  li:hover {
    transition: all 0.3s ease-in-out;
    color: var(--orange);
    transform: skew(-5deg);
  }
  
  li:hover .left,
  li:hover .right {
    transition: all 0.1s ease-in-out;
    color: var(--teal);
  }

  .regular {
    font-weight: normal;
  }

  .logo {
    width: auto;
  }
</style>