<div class="hero container">
  <div class="text">
    <h2><span class="regular william">William</span> <span class="brett">Brett</span> <span class="egbert">Egbert</span></h2>
    <ul>
      <li><span class="left">&lt;</span>mathematics educator<span class="right"> &#47;&#62;</span></li>
      <li><span class="left">&lt;</span>data analyst<span class="right"> &#47;&#62;</span></li>
      <li><span class="left">&lt;</span>assessment specialist<span class="right"> &#47;&#62;</span></li>
      <li><span class="left">&lt;</span>aspiring frontend developer<span class="right"> &#47;&#62;</span></li>
    </ul>
  </div>
  <div class="logo">
    <img src="/assets/cg-logo-full.svg" alt="crossinguard.dev" height="350" width="350">
  </div>
</div>

<style>
	.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding-block-start: 5em;
  }
  @media (max-width: 900px) {
    .hero {
      flex-direction: column;
    }
  }

  .text {
  }
  
  ul {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  
  li {
    font-size: 1.5rem;
    font-size: clamp(1.5rem, 0.9565217391304348rem + 2.318840579710145vw, 2rem);
    list-style: none;
    font-weight: 100;
    color: var(--gray-light);
    transition: color 1s ease-in-out;
  }

  
  li:hover {
    color: var(--accent);
  }
  
  .left,
  .right {
    color: transparent;
    transition: color 0.2s ease-in;
  }

  li:hover .left,
  li:hover .right {
    color: var(--accent-alt);
  }

  .regular {
    font-weight: normal;
  }

  .logo {
    width: auto;
  }

  h2 {
    font-size: 2.25rem;
    font-size: clamp(2.25rem, 2.0423913043478263rem + 0.8857971014492747vw, 2.441rem);
  }
  
  .william,
  .egbert {
    transition: color 0.4s ease-in-out;
  }
  
  .brett {
    text-decoration: wavy overline transparent;
    transition: text-decoration 0.3s ease-in-out;
  }

  h2:hover .william,
  h2:hover .egbert {
    color: var(--gray-light);
  }
  
  h2:hover .brett,
  .logo:hover .brett {
      text-decoration: wavy overline var(--accent-alt);
    }
</style>