<div class="hero container">
  <div class="text">
    <h2><span class="william">William</span> <span class="brett">Brett</span> <span class="egbert">Egbert</span></h2>
    <ul>
      <li><a href="/resume/mathematics-educator" class="xp-link">mathematics educator</a></li>
      <!-- <li>data analyst</li> -->
      <li><a href="/resume/assessment-specialist" class="xp-link">assessment specialist</a></li>
      <li><a href="/resume/web-developer" class="xp-link">web developer</a></li>
    </ul>
  </div>
  <div class="logo shadow">
    <img src="/assets/cg-logo-full.svg" alt="crossinguard.dev" height="350" width="350">
  </div>
</div>

<style>
	.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding-block: 3em;
    min-height: 600px;
  }
  @media (max-width: 900px) {
    .hero {
      flex-direction: column;
    }
  }

  /* TEXT FEATURE */
  h2 {
    font-size: 2rem;
    font-size: clamp(2rem, 2vw + 1rem, 2.5rem);
  }
  
  :is(.william, .brett, .egbert) {
    transition: color 0.4s ease-in-out;
  }

  .william {
    font-weight: normal;
  }
  
  .brett {
    color: var(--accent);
  }

  .text:hover .william,
  .text:hover .egbert {
    color: var(--gray);
  }
  
  .text:hover .brett {
    color: var(--accent-alt);
  }
  
  ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    color: var(--gray);
  }
  
  li {
    font-size: 1.25rem;
    font-size: clamp(1.25rem, 1vw + 1rem, 2rem);
    list-style: none;
    color: var(--gray-light);
    transition: color 0.2s ease-in-out;
  }

  .xp-link {
    color: var(--gray-light);
    text-decoration: none;
  }
  
  li:hover {
    color: var(--light);
  }
  
  li::before {
    content: "< ";
    color: transparent;
    transition: color 0.2s ease-in;
  }

  li::after {
    content: " />";
    color: transparent;
    transition: color 0.2s ease-in;
  }

  li:hover::before,
  li:hover::after {
    color: var(--accent);
  }

  /* LOGO FEATURE */
  .logo {
    width: auto;
  }
</style>