---
const textLinks: { label: string; url: string }[] = [
	{ label: 'Home', url: '/' },
  { label: 'Articles', url: '/articles' },
  { label: 'Resume', url: '/resume' },
];
---
<header>
  <nav class="navbar">
    <div class="brand"><a href="/" class="fancy cg">crossinguard<span class="dev">.dev</span></a></div>
    <ul class="nav-links">
      {
        textLinks.map(({ label, url }) => (
          <li class="nav-item">
            <a
            aria-current={Astro.url.pathname === url}
            class:list={[
              'link',
              {
                active:
                Astro.url.pathname === url ||
                (url !== '/' && Astro.url.pathname.startsWith(url)),
              },
            ]}
            href={url}
            >
            {label}
            </a>
            </li>
            ))
          }
    </ul>
  </nav>
</header>

<style>
  .navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    gap: 0.5em;
    width: 90%;
    max-width: 1100px;
    margin-inline: auto;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 1em;
    padding: 0;
}

.link {
    color: var(--light);
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 1.25rem;
    font-size: clamp(
        1.25rem,
        1.0294117647058822rem + 0.9411764705882352vw,
        1.5rem
    );
    border-bottom: 4px solid transparent;
    transition: all 0.2s ease-in-out;
    display: inline-block;
  }

  .link:hover {
    border-bottom: 4px solid var(--gray);
  }

  .active {
    color: var(--accent-alt);
    border-bottom: 4px solid var(--accent-alt);
  }

  .active:hover {
    border-color: var(--accent);
  }

  .cg {
    text-decoration: none;
    font-size: 1.25rem;
    font-size: clamp(
        1.25rem,
        1.0294117647058822rem + 0.9411764705882352vw,
        1.5rem
    );
  }

  @media (max-width: 650px) {
    .navbar {
      justify-content: center;
    }
  }
</style>




