<div class="social-links">
  <a href="https://github.com/crossinguard" target="_blank">
    <span class="sr-only">Go to the GitHub profile for Brett Egbert (crossinguard)</span>
    <iconify-icon icon="ph:github-logo" width="32" height="32"></iconify-icon>
  </a>
  <a href="https://www.linkedin.com/in/w-brett-egbert/" target="_blank">
    <span class="sr-only">Go to the LinkedIn profile for Brett Egbert (crossinguard)</span>
    <iconify-icon icon="ph:linkedin-logo" width="32" height="32"></iconify-icon>
  </a>
</div>

<style>
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: var(--gray-light);
		transition: all 0.2s ease-in-out;
	}
	.social-links a:hover {
		color: var(--accent-alt);
	}
</style>