---
import { getCollection } from "astro:content";

const posts = (await getCollection('stories')).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

---

<section>
    <ul class="story-list">
        {
            posts.map((post) => (
                <li class="story">
                    <a href={`/stories/${post.slug}/`}>
                        <p class="title">
                            {post.data.title}
                        </p>
                        <p class="description">{post.data.description}</p>
                    </a>
                </li>
            ))
        }
    </ul>
</section>

<style>
    .story-list {
        display: flex;
        flex-direction: column;
        gap: 3em;
        list-style-type: none;
        padding: 5em 0;
        width: fit-content;
        margin-inline: auto;
    }

    a {
        color: var(--light);
        text-decoration: none;
    }
    
    .story {
        padding-inline-start: 1em;
        border-inline-start: solid var(--gray);
        transition: all 0.2s ease-in-out;

        .title {
            font-weight: 700;
            font-size: 1.5rem;
            font-size: clamp(1.5rem, 1rem + 2vw, 2rem);
        }

        .description {
            font-size: 1.1rem;
            font-size: clamp(1.1rem, 1rem + 0.5vw, 1.25rem);
            font-style: italic
        }
        
        p {
            padding: 0;
        }
    }

    .story:hover {
        border-inline-start: solid var(--accent-alt);
    }

</style>