---
const { tags } = Astro.props;

interface Props {
  tags: string[];
}
---

<div class="tags">
  {tags.map((tag: string, index: number) => (
    <span class="tag">
      <a href={'/notes/tag/' + tag}>#{tag}</a>
    </span>
  ))}
 </div>

 <style>
  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

    /* Standard CSS equivalent */
  .tag {
    display: inline-block;
    padding: 0.5rem 1rem; /* Adjust as needed */
    border-radius: 9999px; /* A large value to make it a circle; adjust as needed */
    font-size: 0.75rem; /* Adjust as needed */
    text-align: center;
    cursor: pointer;
    transition: opacity 0.3s ease;

    /* Background and text color based on the condition */
    background-color: #4caf50; /* Green */
    color: #fff; /* White */
  }

  .tag:hover {
    opacity: 0.9;
  }

  /* Condition for odd/even index */
  .tag:nth-child(even) {
    background-color: #3f51b5; /* Indigo for even index */
  }

  /* Additional styling for odd index if needed */
  .tag:nth-child(odd) {
    /* Additional styles for odd index */
  }
 </style>