---
import { Icon } from 'astro-icon/components';
---

<a href="#" class="top-link center"><Icon name="arrow-line-up" /></a>

<style>
  .top-link {
    border-radius: 0.5rem;
    border: solid var(--gray);
    width: 5rem;
    margin-inline: auto 0;
    padding-block: 0 0.5em;
    margin-block: 1em;
  }
</style>
