---
import BaseLayout from "./BaseLayout.astro";
import '../styles/experience.css'

const {frontmatter} = Astro.props;
---
<BaseLayout title={frontmatter.title}>
    <div class="content">
        <div class="header shadow skew">
            <h1>{frontmatter.title}</h1>
            <iconify-icon icon={`ph-${frontmatter.icon}`} class="center" width="64" height="64"></iconify-icon>
        </div>
        <slot />
    </div>
</BaseLayout>

<style>
    h1 {
        text-align: center;
        font-family: var(--font-family-mono);
    }
    
    iconify-icon {
        color: var(--accent-alt);
    }

    .header {
        margin-block: 2em;
        padding-block: 2em;
        color: var(--dark);
        background-color: var(--light);
        border-radius: 1rem;
        border-inline: solid 0.5em var(--accent-alt);
    }
</style>