---
import BaseLayout from "./BaseLayout.astro";
import '../styles/resume.css'

const {frontmatter} = Astro.props;
---
<BaseLayout title={frontmatter.title}>
  <div class="content">
    <slot />
  </div>
</BaseLayout>